/.settings/
/dist/
/.classpath
/.DS_Store
/.project
/colt.jar
/ejml-0.20.jar
/h2-1.1.118.jar
/hsqldb.jar
/jl1.0.1.jar
/Luscinia.jar
/lusciniaproperties
/mdsj.jar
/mp3spi1.9.5.jar
/mysql-connector-java-3.0.15-ga-bin.jar
/poi-2.5.1-final-20040804.jar
/seaglasslookandfeel-0.2.jar
/TabType.java
/tritonus_share.jar
